<div class="missionpage">
	<div class="missionbody" ng-style="BackgroundImage">
		<div class="missiontext">
			<h1>Our Mission</h1>
			<p>The heart behind Melody of Hope is to be an instrument in supporting other organizations causes by raising funds and awareness through musical performing acts.  Melody of Hope achieves this by hosting benefit concerts, music festivals and other events in which the proceeds are donated to partnering charities.  Through these events, MOH is able to become an ambassador of these non-profit organizations and provide artists with a stage to display their talents.  Melody of Hope unites passionate audiences with passionate organizations to passionately bring change to our local community.
			</p>
		</div>
	</div>
</div>

